@model Blank.WebUI.Models.UserListViewModel

@{
    ViewBag.Title = "Users";
}
@foreach (var p in Model.Users)
{
    <div class="item">
        <h3>@p.Name</h3>
        @p.Email
        <h4>@p.Age.ToString()</h4>
    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }));
</div>
