@model Blank.WebUI.Models.UserListViewModel

@{
    ViewBag.Title = "Users";
}

@foreach (var p in Model.Users)
{
    Html.RenderPartial("UserSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }));
</div>
