@model DatabaseClassLibrary.User
@{
    ViewBag.Title = "ForgotPassword";
}
<h2>
    ForgotPassword</h2>
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <p>
                <input type="submit" value="Remind Password" />
            </p>
        </fieldset>
    </div>